.thumb-dropdown .dropdown-menu > li {
    position: relative;
}
.thumb-dropdown .dropdown-menu > li > a .thumbnail {
    position: absolute; 
    left: 100%;
    top: -10px;
    display: none;    
    width: 775px;
    height: auto;
    margin-left: 5px;
}

.thumb-dropdown .dropdown-menu > li > a:hover .thumbnail  {
    display: block;    
}

.navbar-brand {
    display: block;
    margin-right: 5px;
    color: black;
}

.nav-icon {
    height: 25px;
    width: 25px;
}

.under-nav-picture {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1000px;
}

.append-area {
    margin-top: 25px;
}

.blue-background {
    background-color: rgb(159, 173, 255)
}

.panel-heading {
    position: relative;
    padding-right: 15%;
    background-color: white;
    color: black;
}

.panel-body {
    background-color:  rgb(199, 198, 198);
    color: black;
}

a {
    color: black;
}

.save {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delete-note-div {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.green-bg {
    background-color: rgb(124, 253, 124)
}

.navbar {
    background-color: white;
    color: white;
}

.active {
    background-color: #FF4500;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #FF4500;
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.btn-save {
    background-color: #FF4500;
    color: white;
}








body {
    background-color: #FF4501;
}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
  }

@media (max-width: 768px) {
    .panel-heading {
        padding-right: 25%;
    }
}


@media (max-width: 540px) {
    .panel-heading {
        padding-right: 40%;
    }
}

@media (max-width: 320px) {
    .panel-heading {
        padding-right: 50%;
    }
}