.thumb-dropdown .dropdown-menu > li {
    position: relative;
}
.thumb-dropdown .dropdown-menu > li > a .thumbnail {
    position: absolute; 
    left: 100%;
    top: -10px;
    display: none;    
    width: 775px;
    height: auto;
    margin-left: 5px;
}

.thumb-dropdown .dropdown-menu > li > a:hover .thumbnail  {
    display: block;    
}

.navbar-brand {
    display: block;
    margin-right: 5px;
    color: black;
}

.nav-icon {
    height: 25px;
    width: 25px;
}

/* end navbar styling here////start standard body styling (non-special or snippet styling) here */

.under-nav-picture {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1000px;
}

.append-area {
    margin-top: 25px;
}

.blue-background {
    background-color: rgb(159, 173, 255)
}

.panel-heading {
    position: relative;
    padding-right: 15%;
    background-color: #CEE3F8;
    color: black;
}

.panel-body {
    background-color:  rgb(135, 154, 173);
    color: black;
}

#stat-table {
    background-color: #CEE3F8
}

.stat-header{
    color: white;
}

a {
    color: black;
}

.note-delete {
    margin-top: 10px;
}

.text-area {
    width: 90%;
}

.save {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delete-note-div {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.green-bg {
    background-color: rgb(124, 253, 124)
}

.navbar {
    background-color: #CEE3F8;
    color: white;
}

.active {
    background-color: #FF4500;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #FF4500;
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

#loading {
    height: 300px;
    background-color: #CEE3F8
}

.btn-save {
    background-color: #FF4500;
    color: white;
}

.diagHeader {
    color: black;
    margin: auto;
    width: 50%;
    padding-top: 10px;

}

footer {
    min-height: 60px;
    background-color: #CEE3F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .footer-text {
    padding-left: 20%;
} */


/* start loading screen snippet css here */

.loading {
    /* background: #f4f4f2 url("img/page-bg.png") repeat scroll 0 0; */
    height: 100%;
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
}
.bokeh {
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
    z-index: 2147483647;
}
.bokeh li {
    border-radius: 50%;
    height: 0.2em;
    position: absolute;
    width: 0.2em;
}
.bokeh li:nth-child(1) {
    animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
    background: #00c176 none repeat scroll 0 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    top: 0;
    transform-origin: 50% 250% 0;
}
.bokeh li:nth-child(2) {
    animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
    background: #ff003c none repeat scroll 0 0;
    margin: -0.1em 0 0;
    right: 0;
    top: 50%;
    transform-origin: -150% 50% 0;
}
.bokeh li:nth-child(3) {
    animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
    background: #fabe28 none repeat scroll 0 0;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    transform-origin: 50% -150% 0;
}
.bokeh li:nth-child(4) {
    animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
    background: #88c100 none repeat scroll 0 0;
    margin: -0.1em 0 0;
    top: 50%;
    transform-origin: 250% 50% 0;
}
@keyframes opa {
12% {
    opacity: 0.8;
}
19.5% {
    opacity: 0.88;
}
37.2% {
    opacity: 0.64;
}
40.5% {
    opacity: 0.52;
}
52.7% {
    opacity: 0.69;
}
60.2% {
    opacity: 0.6;
}
66.6% {
    opacity: 0.52;
}
70% {
    opacity: 0.63;
}
79.9% {
    opacity: 0.6;
}
84.2% {
    opacity: 0.75;
}
91% {
    opacity: 0.87;
}
}

@keyframes rota {
100% {
    transform: rotate(360deg);
}
}


/* end loading screen snippet css here */



body {
    background-color: #FF4501;
}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
  }

@media (max-width: 992px) {
    .delete-note-div {
        right: 1%;
        width: 173px;
    }
    .delete {
        margin-bottom: 5px;
    }
    .panel-heading {
        min-height: 125px;
    }
}

@media (max-width: 768px) {
    .panel-heading {
        padding-right: 25%;
    }
}


@media (max-width: 540px) {
    .panel-heading {
        padding-right: 40%;
    }
}

@media (max-width: 320px) {
    .panel-heading {
        padding-right: 50%;
    }
}